body {
    box-sizing: border-box;
}

main {
    background-image: url("/Users/jamesirvine/Documents/vs_scripts/Projects/My Website/Resources/img/Downtown-Austin.jpeg");
    background-position: right bottom;
    position: absolute;
    height: 850px;
    width: 100%;
    max-width: 2000px;
    top: 100px;
    z-index: -1;
    overflow: scroll;
    color: blanchedalmond;
}
h1 {
    font-family: serif;
    font-size: 100px;
    font-weight: 150;
    text-align: left;
    height: 600px;
    text-shadow: 4px 4px 4px black;
    padding: 50px;
}

nav {
    background-image: url("/Users/jamesirvine/Documents/vs_scripts/Projects/My Website/Resources/img/downtown_austin_b_and_white.jpeg");
    background-position: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 1;
}

li {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    top: 50%;
    position: static;
    margin: 0 10px;
}

.introduction h3 {
    font-family: serif;
    height: 400px;
    padding: auto;
    margin: 0;
    position: relative;
}

a {
    border: none;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    padding: auto;
    top: 37px;
    vertical-align: middle;
}

a.home {
    box-sizing: content-box;
    border: none;
    color: blanchedalmond;
    text-align: center;
    font-size: 48px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    width: auto;
    position: static;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: static;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}

a:hover {
    color: red;
    width: fit-content;
}

a.home:hover {
    color: blue;
}

a.right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: static;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

a.left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: static;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}